Binaries
DerivedDataCache
Intermediate
Saved
Build
**/Geometry
**/Mannequins
**/ThirdPerson
**/ThirdPersonBP
**/LearningKit_Games
**/MilitaryWeapSilver
**/AnimStarterPack
**/LevelPrototyping
**/LearningKit_Robots
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
